.sign{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../../public/home_background.jpg');
    background-size: cover;
    background-position: center center;
}
.Signin-div {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    height: fit-content;
  }
  .Signin-div h2{
    margin: 10px;
  }
  .signin-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .signin-form input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .signin-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signin-form button:hover {
    background-color: #0056b3;
  }
  
  .signin-form button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  .signup-page {
    margin-top: 20px;
  }
  
  .signup-page p {
    font-size: 14px;
    color: #333;
  }
  
  .signup-page a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-page a:hover {
    text-decoration: underline;
  }
  