.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 8px;
  height: fit-content;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.profile-name h1 {
  margin: 0;
  font-size: 24px;
}

.profile-name p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

.profile-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.profile-details {
  width: 100%;
}

.profile-detail {
  display: flex;
  justify-content:space-between;
  margin: 10px 0px;
}

.profile-label {
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .profile-card {
    padding: 40px;
  }

  .profile-header {
    margin-bottom: 30px;
  }

  .profile-photo {
    width: 200px;
    height: 200px;
    margin-right: 30px;
  }

  .profile-name h1 {
    font-size: 32px;
  }

  .profile-name p {
    font-size: 24px;
  }

  .profile-detail {
    margin: 15px 0;
  }

  .profile-label {
    font-size: 18px;
  }

  .profile-value {
    font-size: 18px;
  }
}

.profile-address {
  display: flex;
  flex-direction: column;
}

.profile-address .profile-detail {
  flex-direction: row;
}
